 <%= stylesheet_link_tag "show.css" %>
<h3>Todo #<%= params[:id] %></h3>
        <h2><span> How to clean my room</span></h2>
       <ul>
            <li><%= @todo_1 %><br></li>
            
            <li><%= @todo_2 %><br></li>
            
            <li><%= @todo_3 %><br></li>
        </ul>
        <a href="#"edit>
        <button style="background-color:white;corners:round; border-radius:10px">Edit</button>
        </a> 
        <a  href="#"delete>
        <button style="background-color:white;corners:round; border-radius:10px">Delete</button> 
        </a>
        <a href="/todo/index">
        <button style="background-color:white;corners:round; border-radius:10px">Go back</button>
        </a>
     
        <img class="room-img" src="https://i.ytimg.com/vi/1SvrIyi3Xms/maxresdefault.jpg" alt="room" width="250" height="150" />
        
        <h2><%= @todo_description %></h2>
<h2>Todo#<%=params[:id]%></h2>
