 <%= stylesheet_link_tag "show.css" %>
 
<div style="background-color: <%=@color%>;"  >

 <h3>Todo #<%= params[:id] %></h3>
        <h2><%= @todo_description %></h2>
        <h2><span>  Pomodoro Estimate : <%=@todo_pomodoro_estimate%></span></h2>


        <a href="/todo/index">
        <button style="background-color:white;corners:round; border-radius:10px">Go back</button>
        </a>
     
<a href="/todo/edit/<%= @todo.id %>" class=“button edit-todo-button”>Edit</a>
<a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
</div>

